name: Publish package to GitHub Packages

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Set package version from tag
        run: |
          TAG="${GITHUB_REF_NAME}"
          VERSION="${TAG#v}"
          npm version "$VERSION" --no-git-tag-version

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}